<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<h1>Hunts</h1>

<h3>Let's create a hunt</h3>

<br><br>
<%= form_for(@hunt) do |f| %>
		  <div class="opaque-forms">
		  <%= f.label :title, "Title" %>
		  <%= f.text_field :title %>
		  <br>
		  <%= f.label :active, "Active"%>	
		  <%= f.check_box :active %>
		 
		  <%= f.label :published, "Published"%>	
		  <%= f.check_box :published %>
		  
		  <!--Since this is not an option currently, should I get rid of it? -->
		  <%= f.label :public, "Public"%>	
		  <%= f.check_box :public %>
		  
		  <%= f.label :start_date, "Start Date" %>
		  <%= f.date_field :start_date %>
		  <br>
		  <%= f.label :end_date, "End Date" %>
		  <%= f.date_field :end_date %>
		  <br>
		  <%= f.label :start_location, "Start Location"%>
		  <%= f.text_field :start_location%>
		  <br>
		  <%= f.label :description, "Description"%>
		  <%= f.text_field :description%>
		  <br>
		  <%= f.hidden_field :user_id, :value => current_user.id%>
		  <%= f.hidden_field :created_at%>
		  <%= f.hidden_field :updated_at%>
		  <br>
		  </div>
		  <%= f.submit "Create Hunt", class: "btn btn-primary" %>
		 
		<% end %>




