<h1><%= @hunt.title.upcase%></h1><%#The title of the hunt will be the header of the page%>
<center>

<h2><%= @hunt.description%></h2><%#The description will be directly beneath the hunt title for easy readability%>
<p>This hunt starts at <%=@hunt.start_location%></p>

<%#This displays the start and end times of the hunt%>
<p>The hunt begins on <%= @hunt.start_date.to_s(:short)%> and ends on <%= @hunt.end_date.to_s(:short)%></p>


<%#This displays whether the hunt is public or private%>
<p><% if(@hunt.public?) %><div class="public">This hunt is a public hunt</div><% else %><div class="private">This hunt is a private hunt </div><%end%></p>

<%#This is meant to display whether or not the hunt is active based on the active bool%>
<p><% if(@hunt.active?) %><div class="active">This hunt is currently active</div><% else %><div class="inactive">This hunt is currently not active </div><%end%></p>

<%#Currently the public and active displays are not staying in line with the rest of the paragraphs, but that is a stylesheet issue and will be fixed later%>

<p>I think maybe a table of tasks for this hunt will go here?</p>

<%= render @tasks %>

<!--This needs to be admin only-->
<%= button_to 'Remove Hunt', hunt_path, :method => 'delete', :class => 'btn btn-primary'%>
<br>
<%= button_to 'Create New Task', new_hunt_task_path(@hunt), :method => 'get', :class => 'btn btn-primary'%>

<%#http://stackoverflow.com/questions/27156737/using-button-to-to-create-new-record-in-database-error-param-is-missing-or-the%>
<%= button_to 'Join Hunt', {:controller => 'pirate_hunts', :action => 'create', :pirate_hunt => {:completed => 'false', :user_id => current_user.id, :hunt_id => @hunt.id}}, :method => :post, :class => 'btn btn-primary' %>

<%# The button for publishing a may need to be moved so that only creators of a hunt can publish %>
<%# Also, we probably want to hide these buttons once their fields are set to true so you cannot
	republish/reactivate a hunt over and over%>

<%if @hunt.published == false%>
	<%= button_to 'Publish Hunt', {:controller => 'hunts', :action => 'update', :hunt => {:published => 'true'}}, :method => :put, :class => 'btn btn-primary' %>
<%end%>

<%if @hunt.active == false%>
	<%= button_to 'Activate Hunt', {:controller => 'hunts', :action => 'update', :hunt => {:active => 'true'}}, :method => :put, :class => 'btn btn-primary' %>
<%end%>


</center>