
<head>
<link rel="stylesheet" type="text/css" href="app\assets\stylesheets\universal.css.scss">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1><%= @pirate_hunt.hunt.title %></h1> 
			<%= @pirate_hunt.hunt.description%><%#The description will be directly beneath the hunt title for easy readability%>						
			<br>
			This hunt starts at <%=@pirate_hunt.hunt.start_location%>

			<%#This displays the start and end times of the hunt%>
			The hunt begins on <%= @pirate_hunt.hunt.start_date.to_s(:long)%> at <%=@pirate_hunt.hunt.start_time%> and <br> ends on 			
			<%= @pirate_hunt.hunt.end_date.to_s(:long)%> at <%=@pirate_hunt.hunt.end_time%>

			<%if @pirate_hunt.hunt.active == true%>
				<%unless @photo_tasks.empty?%>
					<div class="flexslider">
			  			<ul class="slides">
			  			<%@photo_tasks.each do |task|%>
			  	 			<li>
			      			<%= image_tag task.submission.url%>
			    			</li>
			  			<%end%>
			  			</ul>
					</div>
				<%end%> 
				<%= render @pirate_tasks %>
			<%end%>			

			<br>
			<%= button_to 'Leave Hunt', pirate_hunt_path, :method => 'delete', :class => 'btn btn-capstone'%>
            
       </div>
	</div>
</div>

