<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<% provide(:title, 'Home') %>
  <h1>Ahoy!</h1>
  <p>Welcome to the Southwestern University Treasure Hunt!</p>

  <p>Created Hunts: </p>
			
			<ol class="hunts"><%= render @created_hunts %></ol>

<p>Joined Hunts: </p>
			<%#calls pirate_hunt partial %>
			<ol class="hunts"><%= render @joined_hunts %></ol>
			<center>

			<%= link_to 'Create a Hunt', new_hunt_path, :class => 'btn btn-capstone'%> 
			<br><br>
			<%= link_to 'Browse All Hunts', hunts_path, :class => 'btn btn-capstone'%> 
			<br><br>
			<%= link_to 'View a Demo', demo_path, :class => 'btn btn-capstone'%>
			</center>

</html>
