<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- Marketing messaging and featurettes 
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<% provide(:title, 'Home') %>

<div class="container marketing">
  <hr class="featurette-divider">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag("browse-hunts.svg", :class => "img-circle") %>
      <h2>Browse Hunts</h2>
      <h3>See which hunts you wish to join.</h3>
	  <p><%= link_to 'Join Hunts »', hunts_path, :class => 'btn btn-capstone btn-block'%> </p>
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag("paintbrush.svg", :class => "img-circle") %>
      <h2>Create a hunt</h2>
      <h3>Can't find a hunt that suits you?</h3>
      <p><%= link_to 'Make your Own »', new_hunt_path, :class => 'btn btn-capstone btn-block'%></p>
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag("ipad.svg", :class => "img-circle") %>
      <h2>View a demo</h2>
      <h3>This tutorial will show you the ropes.</h3>
      <p><%= link_to 'Start Here »', demo_path, :class => 'btn btn-capstone btn-block'%>
</p>
    </div>
  </div><!-- /.row -->

<<<<<<< HEAD
=======
			<%= link_to 'Create a Hunt', new_hunt_path, :class => 'btn btn-capstone'%> 
			<br><br>
			<%= link_to 'Browse All Hunts', hunts_path, :class => 'btn btn-capstone'%> 
			<br><br>
			<%= link_to 'View a Demo', demo_path, :class => 'btn btn-capstone'%>
			</center>
>>>>>>> Interface

  
  <!-- FOOTER -->
  <!-- This footer should appear on every page -->
  <footer>
    <p class="footer" style="float: right"><a href="#">Back to top</a></p>
    <p class="footer" style="float: left">This App is compliments of the Computer Science Capstone 2015.</p>
  </footer>
