<h1>show pirateHunts</h1>

<!-- this is the qa form -->


<%= form_for(:pirate_task, url: pirate_task_path, method: :patch, multipart: true) do |f| %>
  <div class="field">
   <%= f.label :answer_uploaded %>
  </div>
    <div>
           <%= f.text_field :answer_uploaded %>
</div>
<div class="actions">
    <%= f.submit "Submit QA Answer" %>
  </div>
<% end %>

<!-- This is only a thing when there is a photo question -->

<%= form_for @pirate_task, html: { multipart: true} do |f| %>

  <div class="field">
    <%= f.file_field :submission %>
  </div>
<div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<%= @pirate_task.submission.url %>

<%= image_tag @pirate_task.submission.url %>




